body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;

  margin: 0;
  padding: 0;

  background: url('../images/sea.jpg');
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;

  color: rgba(0, 0, 0, 0.8);
}

.container {
  position: relative;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 800px;
  height: 600px;

  border: 3px ridge rgba(170, 170, 170, 0.8);
  background-color: rgba(164, 164, 164, 0.6);
  backdrop-filter: blur(3px);
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  display: block;
}

.startGame {
  cursor: pointer;
  position: absolute;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 45%;

  border: 1px solid rgba(245, 245, 245, 0.8);
  border-radius: 15px;

  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(245, 245, 245, 0.8);

  font-size: 45px;
  font-family: 'Corbel Light', sans-serif;
  letter-spacing: 2px;

  z-index: 1;
}

.startGame {
  transition: opacity 0.5s;
}

.startGame:hover {
  border-color: rgb(245, 245, 245);
  color: rgb(245, 245, 245);
  background-color: rgba(0, 0, 0, 0.4);
}

.startGame p {
  display: inline-block;
}

.level, .score {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 10%;
  aspect-ratio: 1 / 1.3;

  margin: 0px;

  color: rgba(255, 255, 255, 0.6);
  background-color:  rgba(185, 185, 185, 0.1);
  backdrop-filter: blur(0px);

  border: 1px solid rgba(245, 245, 245, 0.4);

  font-family: 'Calibri Light', sans-serif;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);

  z-index: 1;
}

.level {
  position: absolute;
  left: 40px;
}

.score {
  position: absolute;
  right: 40px;
}

.level > output, .score > output {
  margin: 0px;
  padding: 0px;
  font-size: 35px;
}

.level > span, .score > span {
  margin: 0px;
  padding: 0px;
  font-family: 20px;
  letter-spacing: 2px;
}
